<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="maha.abdelshafy.com.peerschat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ChatActivity"
            android:parentActivityName=".ui.MainActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="maha.abdelshafy.com.peerschat.ui.MainActivity" />
        </activity>
        <activity
            android:name=".login.LogInActivity"
            android:label="@string/title_activity_log_in" />
        <activity
            android:name=".new_account.RegisterActivity"
            android:label="@string/title_activity_register" />

        <receiver android:name=".widget.PeersChatWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/peers_chat_widget_info" />
        </receiver>

    </application>

</manifest>